.logo {
    width: 26.31578947%;
}


.banner {
    width: 73.6842106%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 987px) {
    .Banner-header {
       background-image: url(css/img/Header_Banner_md.png);
}
}
 


.top {
    height: 11.6396761%;
    margin-top: 1.1482254%;
    margin-bottom: 1.4613778%;
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding: 0;
}
.navbar-brand {
    padding: 0;
}

#logo {
    margin-top: 15.8730158%;

}

.logo{
    padding-left: 0;
    padding-right: 0;
}

.nav_home {
    width: 73.6842106%;
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 619px) {
    .row {
        margin-left: 0;
    }
}


#responsive_menu {
    padding-left: 0;
    padding-right: 0;
}

.nav_social_icons {
    width: 26.31578947%;
     float: right;
}

@media screen and (max-width: 619px) {
.nav_social_icons {
    display: none;
}


}

.social_icons {
    float: right;
    align-content: right;
}

.navbar {
    background-image: url(img/navbar_bg.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    min-height: 32px;
}

div.navbar {
     height: 32px;
}

/*a {
    padding-top: 0;
    padding-bottom: 0;
}*/
@media screen and (min-width: 620px) {
    .navbar-nav > li > a {
        padding-top: 8px; 
        padding-bottom: 8px;
}
}

.navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8125em;
    color: #373737;
    cursor: pointer;
}

button.navbar-toggle {
    color: grey;
    background-color: white;
    position: relative;
    float: right;
    margin-right: 20px;
    padding: 4px 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
}



@media screen and (max-width: 620px) {
    .navbar-nav {
        margin: 0;
        display: inline;
}
    button.navbar-toggle {
        float: left;
}
}

    .navbar-nav > li > a {
        font-size: 0.5em;
    }

    .nav > li > a {
        padding-top: 0;
        padding-left: 5px;
    }

@media screen and (max-width: 620px) {
    .nav > li {
        /*display: inline;*/
        float: right;
}

}
@media screen and (max-width: 809px) {
    .navbar-nav > li > a {
        font-size: 0.7em;
    }
}


@media screen and (max-width: 620px) {
    .navbar-nav {
        margin: 0;
        display: inline;
}
}


/******MAIN NAVIGATION begin******/
.orange {
    background-image: url(img/main_nav_bg.png);
    border: 0;
}
/******MAIN NAVIGATION end******/


.main {
    width: 69.6356% ;
}

.side {
    width: 30.3643724%;
}