

body {
    font: Arial;
    font-size: 13px;
    line-height: 1.2;
    color: #373737;
}

ul {
    padding-left: 0;
}

ul> li{
    list-style: none; 
}

li {
    list-style: none;
}

/*a {
    display: block;
}*/

/********LOGO + BANNER begin*********/

.container {
    padding: 0;
}
.navbar-brand {
    padding: 0;
}


.top {
    width: 100%;
    height: 11.6396761%;
    margin-top: 1.1482254%;
    margin-bottom: 1.4613778%;
    margin-left: 0;
    margin-right: 0;
}


.logo {
    width: 26.31578947%;
}




#logo {
    margin-top: 15.8730158%;

}

@media screen and (max-width: 1100px) {
    #logo {
    margin-top: 9.8730158%;
}
}

@media screen and (max-width: 620px) {
    #logo {
    margin-top: 7.8730158%;
}
}

.logo{
    padding-left: 0;
    padding-right: 0;
}


.banner {
    width: 73.6842106%;
    padding-left: 0;
    padding-right: 0;
}

img#Banner-header, img#logo {
  max-width: 100%;
  display: inline-block;
}

/********LOGO + BANNER end*********/

/********HOME NAVIGAION begin*********/


.home_navigation > div:first-child {
    width: 73.6842106%;
    padding-left: 0;
    padding-right: 0;

}

.navbar {
    background-image: url(img/navbar_bg.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    min-height: 32px;
    border: 0;
}


.home_navigation {
    margin-left: 0;
    margin-right: 0;
    padding-left: -15px;
    
}


.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.top_nav > li > a {
    font-size: 0.8125em;
    color: #373737;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    padding-left: 0;
}

.top_nav > li > a:hover {
    color: white;
    background-image: url(img/navbar_bg.png);
    background-repeat: no-repeat;
}


@media screen and (max-width: 620px) {
    .top_nav > li > a:hover {
        color: #373737;
        background: transparent;
}
}

.navbar-toggle {
    background-color: white;
    margin: 0;
    padding: 2px 8px; 
    height: 26px;
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}

.icon-bar {
   background-color:#eb4900;
}
    

@media screen and (max-width: 620px) {
    .nav > li {
        float: left;
}

}
@media screen and (max-width: 809px) {
    .navbar-nav > li > a {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 516px) {
    .navbar-nav > li > a {
        font-size: 0.5em;
    }
}


@media screen and (max-width: 619px) {
    .navbar-nav {
        margin: 0;
        display: inline;
}
}

/********HOME NAVIGAION end*********/





/********SOCIAL ICONS begin*********/


.nav_social_icons {
     width: 26.31578947%;
     padding-left: 0;
     padding-right: 0;
     padding-top: 2px;
}

.social_icons > a > img {
    text-align: right;
    margin-left: 1px;
    margin: 1px;
    display: inline-block;
    }

@media screen and (max-width: 619px) {
    .nav_social_icons {
        width: 30%;
        float: right;
    }
    .home_navigation > div:first-child {
        width: 70%;
        padding-top: 0;
    }
}


.social_icons {
    width: 100%;
    text-align: right;
}

@media screen and (max-width: 493px) {
    .nav_social_icons {
        display: none;
    }
    .home_navigation > div:first-child {
        width: 100%;
        font-size: 1.25em;
    }
}


.soc_icons {
    margin-left: 0;
    margin-right: 0;
}


/********SOCIAL ICONS end*********/

/******MAIN NAVIGATION begin******/
.orange {
    background-image: url(img/main_nav_bg.png);
    background-repeat: no-repeat;
    border: 0;
    height: 46px;
    width: 100%;
}

.orange_nav > li > a {
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 46px;
    text-align: justify; 
    padding-left: 10px;
    padding-right: 10px;
}


.orange_nav > li > a:hover {
   background-image: url(img/main_nav_hover.png);
   background-repeat: no-repeat;
   z-index: 1;
}

@media screen and (max-width: 619px) {
    .orange_nav > li > a {
        font-size: 0.5em;
    }


}

/******MAIN NAVIGATION end******/


.main {
    width: 69.6356% ;
    padding-top: 24px;
}

.side {
    width: 30.3643724%;
    padding-right: 0;
    padding-top: 24px;
}

/******CAROUSEL end******/

.carousel-indicators {
    position: absolute;
    width: 100%;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    text-align: right;
    left: 0;
    margin-left: 0;
    bottom: 0;
    align-content: right;
    margin-right: 20px;
    padding-bottom: 0.8%;
}

.carousel-indicators .active {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    color: black;
    margin: 1px;
    text-decoration: none;
}


.carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    text-indent: 0;
    border-radius: 0;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #eb4900;
    color: white;
    font-size: 11px;
   text-align: center;
    }

    .carousel-indicators li:last-of-type {
        margin-right: 3.4237%;
    }

@media screen and (min-width: 1100px){
    .carousel-indicators li:last-of-type {
        margin-right: 10%;
    }
}

/******CAROUSEL end******/

/******ARTICLES end******/

.art {
    margin-bottom: 4.65116279%;
    margin-top: 4.65116279%;
}

.articles_pic {
    width: 40.652093%;
    padding-right: 5px;
}

@media screen and (min-width: 1100px){
    .articles_pic {
    width: 29.0697674%;
    }
}

@media screen and (max-width: 619px){
    .articles_pic {
    width: 30%;
    }
}

.articles_column {
    width: 59.348%;
    padding-right: 0;
}

@media screen and (max-width: 619px) {
    .articles_column {
    width: 70%
    }
}

.articles_column > p {
    font-size: 13px;
}

.articles_column div:first-child {
    padding: 0;
}

.admin, .admin_logo, .new_comments {
    color: #eb4900;
    font-size: 11px;
    margin-bottom: 0;
}

.admin_logo::before {
    content: url(img/admin.png);
}

.date {
    color: grey;
    font-size: 11px;
}

.new_comments::before {
     content: url(img/msg.png);
}

.new_comments {
    text-align: right;
}


h1 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 7.8223657%;
    padding-top: 4.8889714%;
}



.articles_column > div:nth-child(3) {
    padding-left: 0;
}

.read_more, .read_more_underline {
    color: #eb4900;
    font-size: 11px;
    cursor: pointer;
}

.read_more_underline {
    text-decoration: underline;
}

@media screen and (max-width: 619px) {
    h1 {
        padding-top: 0;
        padding-bottom: 0;
    }
    p {
        font-size: 10px;
        margin-bottom: 0;
    }
    .read_more {
        font-size: 10px;
    }
}
/******ARTICLES end******/


/******PAGINATION begin******/

.pad {
    width: 100%;
}


.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    margin-left: -1px;
    border: none;
    color: #868686;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

li > a.pag_prev_next {
    color: #eb4900;
}

/******PAGINATION end******/

/******NEWS begin******/

h2 {
    color: #01b2bf;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;

}

h3{
    color: #eb4900;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 6.3694267%;
    padding-bottom: 6.3694267%;
}

.news_date_admin {
    margin-bottom: 0;
}

.submit_news {
    background-image: url(css/img/button_sbmt_news.png);
    
}

.submit_new {
    border-radius: 5px;
    border: none;
    width: 40%;
    text-transform: uppercase;
    margin-top: 15px;
    line-height: 2em;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 10px -3px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 10px -3px rgba(0,0,0,1);
    box-shadow: 1px 1px 10px -3px rgba(0,0,0,1);
}


.inspiration, .flickr {
    text-align: justify;
    display: inline-block;
}

.inspiration > a > img {
    padding-bottom: 15px; 
    padding-top: 15px;
}


/******NEWS end******/

/******SIDEBAR begin******/



/******search begin******/
input {
   border-color: #e6e6e6;
}
.form-group {
    width: 100%;
    height: 35px;
}

.search {
    border-color: #e6e6e6;
    border-width: 3px;
    width: 98%;
    height: 33px;
}


label {
    height: 25px;
    bottom: 25px;
}

#Search_blog[required] + label {
  position: absolute;;
  /*display: inline-block;*/
}

#Search_blog[required] + label:before {
content: " ";
margin-top: 10px;
margin-left: -33px;
background: url(img/loop.png);
background-repeat: no-repeat;
width: 30px;
height: 25px;
display: inline-block;
}
/******search end******/

.social_networking {
    font-size: 11px;
}
.h2_red {
    color: #eb4900;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.wi-fi-logo {
    width: 30%;
    padding-right: 0;
}

.social_networking > div:nth-child(2) {
    padding-right: 0;
    padding-left: 10px;
} 
.social_networking > div:nth-child(3) {
    padding-left: 0px;
    padding-right: 10px;
} 


/******SUBSCRIBE begin******/

.subscribe {
    margin-top: 15px;
}
.enter_e-mail {
    width: 64.8562%;
   
}

.subscribe_button {
    width: 35.1437%;
    padding-left: 0;
    
}

.subscribe_button > p > a > button {
    width: 100%;
    line-height: 3em;
    margin-top: 0;   
}


/******SUBSCRIBE end******/


.side_ad_pics {
    text-align: justify;
    display: inline-block;
}

.side_ad_pics > img {
    margin-bottom: 5%;
}


/******FACEBOOK begin******/
.facebook {
    margin-left: 0;
    border: 1px solid black;
}

.facebook > div:first-child {
    padding-left: 0;
} 


.facebook > div:nth-child(2){
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0;   
    background-color: #eceff5;
}

.facebook_under_header > div:first-child {
    padding-left: 0;
    width: 15%;
} 

h4 {
    margin-top: 0;
}

h4 li {
    list-style: none;
}

.fb_pics {
    float: left;
    text-align: justify;
}

.photo {
    float: left;
    overflow: hidden;
    text-align: center;
    display: block;
    padding: 6px 5px 5px;
    text-align: justify;

}

.facebook > div:nth-child(4) {
    text-align: justify;
}

/******FACEBOOK end******/

/******SIDEBAR end******/

/******FOOTER begin******/

div.footer {
    background-color: #f0f0f0;
    
}

.footer > div:first-child {
    padding-top: 4.0485%;
    padding-bottom: 2.5303%;
}

.footer_h2 >h2 {
    padding-bottom: 4.0485%;
}

.footer_p {
    line-height: 2em;
    padding-top: 0;
}

.browse {
    padding: 0;
}

.browse > ul {
    padding-left: 0;
    list-style: none;
}

.browse > ul > li > a {
     font-size: 13px;
    line-height: 1.2;
    color: #373737;
    line-height: 2em;
}


.footer_bottom {
    padding-top: 2.0242%;
    padding-bottom: 2.5303%;
    font-size: 10px;
}


.links_to > a {
    color: #eb4900;
}

.copywrite {
    width: 62.2469%;
}

.rest_of_copywr {
    width: 18.87655%;
}
/******FOOTER end******/



